<html>
<head>
<title>grid todo</title>
<script src="/_ah/channel/jsapi"></script>
<link rel="stylesheet" href="/media/css/main.css"/>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var rows = [];
{% for r in rows %}
rows.push("{{r}}");{% endfor %}
var columns = [];
{% for c in cols %}
columns.push("{{c}}");{% endfor %}

var cells = [];
{% for row in cells %}{% for col in row %}{% if col %}
cells.push({"row": {{forloop.parentloop.counter0}}, "col": {{forloop.counter0}}, "value": {{col}}});{% endif %}{% endfor %}{% endfor %}

var gridKey = "{{gridkey}}";

</script>
</head>

<body>
<h2>{{grid.title}}</h2>
<script src="/media/js/griddo.js"></script>

	<form action="/add_row/{{gridkey}}/" method="post">
  <input type="text" name="label" placeholder="row label"/><input type="submit" value="add row" />
	</form>
	<form action="/add_col/{{gridkey}}/" method="post">
  <input type="text" name="label" placeholder="column label"/><input type="submit" value="add column" />
	</form>

<script>

var token = '{{ channel_id }}';

var channel = new goog.appengine.Channel(token);
var socket = channel.open();
socket.onopen = function() {
  window.setTimeout(function() {
  console.log("connected to socket");
}, 100);
}

socket.onmessage = function(evt) {
  var o = JSON.parse(evt.data);
  console.log(o);
  if (o.cell_update) {
    var row = o.cell_update.row;
    var col = o.cell_update.col;
    var value = o.cell_update.value;
    setCell({'row':row, 'col':col, 'value':value});
  }
}

</script>
</body>
</html>
